@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.backbut{
  background:#de9b00;
  margin-bottom: 52px;
}
.butlist{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
body {
  background: #ffffff;
}
#config{
  background: #fefbd8 ;
}
/* Cabeçalho */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #de9b00;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0.8rem 1rem;
}

.header h3 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid rgb(0, 153, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

header i {
  font-size: 1.5rem;
  color: black;
}

.container-logo img {
  width: 60px;
  height: auto;
}

/* Mapa */
.mapa-container img {
  width: 100%;
  height: auto;
  display: block;
}

/* Barra inferior */
.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #de9b00, #b98e00);
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem 0;
}
.back-button {
  color: var(--white);
  font-size: 1.5rem;
  margin-right: 1rem;
  text-decoration: none;
}
.nav i {
  font-size: 2rem;
  color: white;
}

.nav-center {
  transform: scale(1.2);
}


.tittle{
  color: #fff6e2;
}

.config-list {
  margin-top: 60px;
  padding: 6vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.config-item {
  padding: 15px;
  cursor: pointer;
}

.config-item:hover {
  background: rgba(236, 174, 4, 0.253);
}

.config-item.active {
  background: rgba(197, 146, 6, 0.253);
}

/* Responsividade */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .profile-pic {
    width: 45px;
    height: 45px;
  }

  .container-logo img {
    width: 50px;
  }

  .nav i {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .header h3 {
    font-size: 1rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .profile-pic {
    width: 40px;
    height: 40px;
  }

  .nav i {
    font-size: 1.5rem;
  }
}
